<!--<p>exercise4 works!</p>-->

<h2>Exercício 4</h2>
<p>Insira três imagens na pasta assets:</p>
<ul>
  <li>Crie três tags img capazes de resolver qual imagem mostrar através de property binding (3 propriedades
    diferentes);
  </li>
  <li>Crie também 3 classes CSS com configurações diferentes para imagens (tamanho, borda, etc) e atribua-as através de
    property binding às imagens.</li>
</ul>

<img [src]="urlBird" [id]="idBird" [class]='class' alt="Foto de um passáro.">

<img [src]="urlCat" [id]="idCat" [class]='class' alt="Foto de um gato.">

<img [src]="urlDog" [id]="idDog" [class]='class' alt="Foto de um cachorro.">

<hr>
