#menu ul {
    display: flex;
    padding-inline-start: 0;

}

#menu ul li {
    list-style: none;
    background-color: #2196f3;
    padding: 7.5px 15px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    transition: 0.25s;
    width: fit-content;
    cursor: pointer;
}

#menu ul li:hover {
    transition: 0.25s;
    background-color: #42a5f5;
}

#menu ul li a {
    color: #fafafa;
    text-transform: uppercase;
    text-decoration: none;
}

.container {
    margin-left: 3rem;
    margin-top: 2.5rem;
}